:root{
    --primary: #757575;
    --secondary: darkred;
    --alternative: #C67F7F;
    --bgcolor: #ececec;
}

body{
    font-family: 'Rajdhani', sans-serif;
    color: var(--primary);
    background-color: var(--bgcolor);
}

h1,h2,h3,h4{
    color: var(--secondary);
}

h1,h2{
    font-family: 'Nova Square', cursive;
}

a:link , a:visited{
    text-decoration: none;
    color: var(--primary);
}

a:hover{
    color: var(--alternative);
}

.logo{
    height: 110px;
}

.bgHome{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(255,255,255,1) 100%), url(./media/mountains2.png), url(./media/switzerland-862870_1920.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.titolo{
    height: 100%;
    letter-spacing: 6rem;
    font-size: 100px;
}

.quotes{
    position: relative;
}

.quotes::before{
    font-family: 'Nova Square', cursive;
    content: open-quote;
    color: var(--secondary);
    font-size: 120px;
    position: absolute;
    top: -40px;
    left: -70px;
    rotate: 25deg;  
}

.quotes::after{
    font-family: 'Nova Square', cursive;
    content: close-quote;
    color: var(--secondary);
    font-size: 120px;
    position: absolute;
    right: -45px;
    bottom: -90px;
    rotate: 25deg;  
}

.colorIcon{
    color: var(--secondary);
    font-size: 30px;
}

.line{
    color: black;
    font-size: 25px;
    padding-bottom: 30px;
    border-bottom: 4px solid var(--secondary);
    position: relative;
    display: inline;
}

.line::before{
    content: '';
    width: 30px;
    height: 30px;
    background-color: var(--bgcolor);
    border: 2px solid var(--secondary);
    border-radius: 50%;
    position: absolute;
    top: 50px;
    right: 75px;
} 

.buttonCentrale{
    background: var(--secondary);
    color: white;
    width: 300px;
    height: 80px;
    border: none;
    font-size: 40px; 
}

.secondoBg{
    background-image: url(./media/trees2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 120vh;
}

.barraTimeline{
    border-left: 4px solid var(--secondary);
    position: relative;
}

.timeline::before{
    
    content: '';
    width: 25px;
    height: 25px;
    background-color: white;
    border: 2px solid var(--secondary);
    border-radius: 50%;
    position: absolute;
    left: -15px;
}

.terzoBg{
    background-image: url(./media/single.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.bordoDoppio{
    height: 80px;
    width: 80px;
    background-image: url(https://picsum.photos/200/300);
    background-position: center;
    border: 3px solid var(--secondary); 
    padding:4px; 
    background:#EAEFFD;
    border-radius: 50%;
}

.iconSocial{
    color: var(--secondary);
}

.benefitImg{
    height: 200px;
    width: 200px;
}

.bgFooter{
    background-color: var(--secondary);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

.footerLink:link, .footerLink:visited {
    color: white;
}

.footerLink:hover{
    color: var(--alternative);
}





/* MEDIA QUERY */


@media screen and (max-width:900px) {
    
    .titolo{
        font-size: 80px;
        letter-spacing: 3rem;  
    }
    
    #articoliCustomMobile{
        display: inline-block;
    }
    
    .secondoBg{
        height: auto;
        background-image: none;
    }

    .line{
        font-size: 15px;
    }

    .line::before{
        width: 20px;
        height: 20px;
        top: 40px;
        right: 45px; 
    } 
}

@media screen and (max-width:770px) {
        .line{
        font-size: 25px;
        
    }
    
    .line::before{
        width: 30px;
        height: 30px;
        top: 50px;
        right: 75px;
    }

    .colorIcon{
        padding-top: 50px;
    }

}

@media screen and (max-width:579px) {
    .titolo{
        font-size: 80px;
        letter-spacing: 1rem;
    }

    .buttonCentrale{
        margin-bottom: 50px;
    } 
}
