:root{
    --primary: #757575;
    --secondary: darkred;
    --alternative: #C67F7F;
    --bgcolor: #ececec;
}

body{
    font-family: 'Nova Square', cursive;
    font-family: 'Rajdhani', sans-serif;
    color: var(--primary);
    background-color: var(--bgcolor);
}

h1,h2,h3,h4{
    color: var(--secondary);
}

a:link , a:visited{
    text-decoration: none;
    color: var(--primary);
}

a:hover{
    color: var(--secondary);
}

.logo{
    height: 110px;
}

.bgHome{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(255,255,255,1) 100%), url(./media/mountains2.png), url(./media/switzerland-862870_1920.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.titolo{
    font-family: 'Nova Square', cursive;
    
    letter-spacing: 6rem;
    font-size: 100px;
}

.quotes{
    font-family: 'Rajdhani', sans-serif;
    color: var(--primary);
    font-size: 40px;
}


.quotes::before{
    content: open-quote;
    color: var(--secondary);
    font-size: 150px;
    position: absolute;
    margin-left: -60px;
    margin-top: -50px;
    rotate: 10deg; 
}


.quotes::after{
    content: close-quote;
    color: var(--secondary);
    font-size: 150px;
    position: absolute;
    margin-top: -15px;
    rotate: 10deg;
}

.iconCustom{
    height: 500px;
    color: var(--secondary);
    font-size: 50px;
}

.iconCustom p{
    color: var(--primary);
    font-size: 30px;
}

.line{
    border-bottom: 4px solid var(--secondary);
    width: 300px;
    position: relative;  
    align-items: center;
    margin: 70px;
}

.line::before{
    content: '';
    width: 40px;
    height: 40px;
    background-color: var(--bgcolor);
    border: 2px solid var(--secondary);
    border-radius: 50%;
    position: absolute;
    left: 130px;
    bottom: -23px;
}

.articoliCustom{
    width: 800px;
}

.buttonCentrale{
    background: var(--secondary);
    color: white;
    width: 300px;
    height: 80px;
    border: none;
    font-size: 40px;
    
}

.secondoBg{
    height: 100vh;
    background-image: url(./media/trees2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.imgTimeline{
    display: flex;
    align-items: flex-end;
    justify-content: end;
    height: 1000px;
    
}

.barraTimeline{
    border-left: 4px solid var(--secondary);
    margin-left: 50px;
}

.timeline::before{
    content: '';
    width: 40px;
    height: 40px;
    background-color: white;
    border: 2px solid var(--secondary);
    border-radius: 50%;
    position: absolute;
    left: 30px;
}





/* MEDIA QUERY */

@media screen and (max-width:992px) {
    .titolo{
        font-size: 50px;
        letter-spacing: 5rem;  
    }
}

@media screen and (max-width:977px) {
    #articoliCustomMobile{
        margin-top: 550px;
    }
}

@media screen and (max-width:579px) {
    .titolo{
        font-size: 50px;
        letter-spacing: 2rem;
        padding-left: 30px;  
    }
}
